node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

dist
build
.vite

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.vscode
.idea
*.swp
*.swo
*~

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.git
.gitignore
.gitattributes

Dockerfile
.dockerignore
docker-compose.yml

coverage
.nyc_output

logs
*.log

pids
*.pid
*.seed
*.pid.lock

tmp
temp

.eslintcache

storybook-static

.npm

.node_repl_history

*.tgz

.yarn-integrity

.env

.cache
.parcel-cache

.next

.nuxt

.vuepress/dist

.serverless

README.md
*.md